<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>グループ作成</title>
    <link rel="stylesheet" href="/css/groupcreate.css" />
  </head>

  <body>
    <div class="group-create-container">
      <h1>グループ作成</h1>

      <form th:action="@{/groupcreate}" method="post">
        <div class="form-section">
          <label>グループ名</label>
          <input type="text" id="group-name" name="name" placeholder="グループ名を入力" />
        </div>

        <label>作成者(任意)</label>
        <input type="text" name="owner" placeholder="owner" />

        <div class="form-section">
          <label>参加者を追加（複数選択可）</label>

          <div class="row header">
            <input type="checkbox" id="checkAll" />
            <div>表示名</div>
            <div>ユーザー名</div>
            <div>ロール</div>
          </div>

          <div class="account-list">
            <div class="row" th:each="acc : ${accounts}">
              <input type="checkbox" name="members" th:value="${acc.username}" class="memberBox" />
              <div th:text="${acc.display_name}">OO OO</div>
              <div th:text="${acc.username}">OOO</div>
              <div th:text="${acc.role_code}">OOO</div>
            </div>
          </div>
        </div>

        <button class="create-btn" type="submit">作成する</button>

        <p th:if="${message}" th:text="${message}" class="ok"></p>
        <p th:if="${errorMessage}" th:text="${errorMessage}" class="ng"></p>
      </form>
    </div>
  </body>
</html>
