<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>グループ作成</title>
    <link rel="stylesheet" href="/css/groupcreate.css" />
  </head>

  <body>
    <div class="group-create-container">
      <h1>グループ作成</h1>

      <form th:action="@{/groupcreate}" method="post">
        <div class="form-section">
          <label>グループ名</label>
          <input type="text" id="group-name" name="name" placeholder="グループ名を入力" />
        </div>

        <div class="form-section">
          <label>作成者（任意）</label>
          <input type="text" name="owner" placeholder="owner" />
        </div>

        <div class="form-section">
          <label>参加者を追加（複数選択可）</label>

          <table class="account-table">
            <thead>
              <tr>
                <th><input type="checkbox" id="checkAll" /></th>
                <th>表示名</th>
                <th>ユーザー名</th>
                <th>ロール</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="acc : ${accounts}">
                <td>
                  <input
                    type="checkbox"
                    name="members"
                    th:value="${acc.username}"
                    class="memberBox"
                  />
                </td>
                <td th:text="${acc.display_name}">OO OO</td>
                <td th:text="${acc.username}">OOO</td>
                <td th:text="${acc.role_code}">OOO</td>
              </tr>
            </tbody>
          </table>
        </div>

        <button class="create-btn" type="submit">作成する</button>

        <p th:if="${message}" th:text="${message}" class="ok"></p>
        <p th:if="${errorMessage}" th:text="${errorMessage}" class="ng"></p>
      </form>
    </div>
  </body>
</html>
