body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #333;
}

/* コンテナ */
.group-create-container {
  text-align: center;
  border: 1px solid #ccc;
  padding: 40px 60px;
  border-radius: 8px;
  background-color: #fff;
}

/* タイトル */
.group-create-container h1 {
  color: #138c3c;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}

/* ラベルと入力 */
.form-section {
  text-align: left;
  margin-bottom: 25px;
}

.form-section label {
  color: #138c3c;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

#group-name {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* 参加者エリア */
.member {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: #dcdcdc;
  border-radius: 50%;
  margin-right: 10px;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 8px 0;
}

/* ボタン */
.create-btn {
  background-color: white;
  color: #138c3c;
  border: 1px solid #138c3c;
  padding: 6px 25px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

.create-btn:hover {
  background-color: #138c3c;
  color: white;
}
