<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Slat ログイン</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="page">
      <div class="card" role="main" aria-labelledby="login-title">
        <img class="logo" src="/images/logo.png" alt="Slat ロゴ" />
        <div id="login-title" class="title">ログイン</div>

        <form action="/login" method="post" novalidate>
          <div th:if="${loginError}" class="login-error-message">
            <p th:text="${loginError}"></p>
          </div>
          <label for="id" class="sr-only">ID</label>
          <input
            id="id"
            name="id"
            type="id"
            class="input"
            placeholder="xxxxxxxxxx"
            autocomplete="id"
            required
          />

          <label for="password" class="sr-only">パスワード</label>
          <input
            id="password"
            name="password"
            type="password"
            class="input"
            placeholder="Password"
            autocomplete="current-password"
            required
          />

          <button type="submit" class="btn">ログインする</button>
        </form>
      </div>
    </div>
  </body>
</html>
